nav
{
    background-color: sienna;
}

h1{
    font-family:monospace;
    color: darkorange;
}

h2{
    font-family:monospace;
    color: azure;
    font-size: 20px;
}

h3 {
    font-family: monospace;
    color: azure;
    font-size: 40px;
}

th {
    color:azure;
    font-family: monospace;
    font-size: 20px;
} 

td {
    color:azure;
    font-family: monospace;
    font-size: 20px;
}

label {
    color: azure;
    font-family: monospace;
    font-size: 20px;
}

li {
    font-family: monospace;
    font-size: 20px;
    color: azure;
}



p {
    font-family: monospace;
    color: azure;
    font-size: 20px;
}



body {
    
  background-image: url(images/sand_waves_surface_197279_3840x2400.jpg);
  background-color: azure;
    display: block;
    margin: 50px;
}

nav ul
{
    text-align: center;
    font-size: 1.2em;
}

nav 
{
    padding: 5px;
}

nav ul li
{
    padding: 15px;
    margin: 5px;
    border: 2px solid red;
    border-radius: 10px;
}

nav ul li {
    list-style-type: none;
    background-color: gray;
    display: inline;
}

header
{
    background-color: grey;
    padding: 10px;
    font-size: 30px;
    border-image-source: 
    
}

footer{
    background-color: sienna;
    padding: 10px;
}

footer p
{
    color: azure;
    text-align: center;
}

.fnvtrailers {
    text-decoration: none;
    text-decoration-color: azure;
}


